@media only screen and (min-width: 992px)
{
	.buttons{
		flex-direction: row;
		margin-left: 5%;
	}

	.greeting{
		margin-left: 5%;
		width: 30%;
	}

	.hero{
		margin-top: 100px;
		margin-left: 20%;	
		border-radius: 0 50% 0 50%;
		width: 25%;
		overflow: hidden;
	}

	.intro{
		display: flex;
		padding-top: 100px;
	}

	.img_container{
	border-radius: 0 50%;
	height: 500px;
	width: 20%;
	overflow: hidden;
}
}