@media only screen and (min-width: 992px)
{
	.buttons{
		display: flex;
	}

	.cta__button{
		flex-direction: row;
		width: 40%;
	}

	.hours__container{
		display: flex;
	}
	
	h5{
        display: flex;
		justify-content: space-evenly;
		width: 100%;
    }

.hours{
	width: 60%;
}
    .description{
     width: 80%;    
    }

	.family__meals{
		flex-direction: column;
    	width: 50%;
    	margin-right: 10%;
	}

	.greeting{
		display: flex;
		flex-direction: column;
		margin: 0 12% 0 0;
		width: 35%;
	}

	.hero{
		height: 100%;
		width: auto;
		overflow: initial;
	}

	.hours{
		display: flex;
		flex-direction: column;
	}

	.header{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	#two{
	margin-left: 30px
	}

	.logo__bars-container{
		display: flex;
		width: 1200px;
		justify-content: space-between;
	}
    .menu{
        display: flex;
    }
	.intro{
		display: flex;
		flex-direction: row-reverse;
		padding-top: 70px;
		width: 1200px;
	}

	.img_container{
		height: 400px;
		margin-right: 100px;
		width: 30%;
		border-radius: 25% 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}

	.specials{
		display: flex;
		flex-direction: row;
		padding-top: 0;
		width: 1200px;
    }

	.menu__container{
		display: flex;
    	flex-direction: row;
    	align-items: center;
    	padding: 30px;
}

	.padthai{
		margin: 12% 0 12% 30%;
    	width: 60%;
	}

	.padthai_image{
		width: 70%;
	
	}

	.menu_background{
		margin-top: -50px;
		width: 100%;
	}


	}
