body{
 box-sizing: border-box;
}

.container{
    max-width: 1600px;
}

a{
	display: block;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #fff;
}

.circles{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	overflow: hidden;
	margin: 0 auto;
}

.cta__button, .cta__button2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    width: 220px;
    color: #F1EFFF;
    line-height: 30px;
    margin-bottom: 1em;
    background-color: #435C2A;
}

.copyright{
	font-family: 'Quicksand', sans-serif;
	font-size: .5em;
	margin-left: 500px;
}

.ends{
	font-size: 2em;
	padding: 5px 10px;
}

.days{
	color:#435C2A;
	font-weight: bolder;
	padding-right: 30px;
}


#one{
	background-color:#59941D;
}

#two{
	background-color: #435C2A;

}
.fas.fa-phone{
	color: white;
	padding-right: 10px;
}


.fab.fa-facebook, .fab.fa-tripadvisor, .fab.fa-yelp{
	padding: 0 10px 10px 0;
	color:#6E6E6E;
}
.fas.fa-seedling{
	padding: 20px;
}

.first{
	padding-bottom: 5px;
}

.fresh{
	text-align: center;
}

.header {
    display: flex;
    background-color: #435C2A;
    height: 50px;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    z-index: 20;
    color: white;
    justify-content: space-between;
 }

.header__button{
    margin: 10px;
    color: #ffffff;
    font-size: 30px;
    z-index: 300;
    align-self: flex-end;
}

.header__text__combo{
	display: flex;
}

.header__logo{
	padding: 5px 5px 5px 20px;
	height: 39px;
	width: 40px;
	justify-content: flex-start;
}

.header__logo-container{
	display: flex;
}

.hero{
	background-size: cover;
	position: relative;
	overflow: hidden;
	width: 100%;
}

p{
	font-family:'Quicksand', sans-serif;
	line-height: 1.5em;
	padding: 20px 0;
    margin-right: 5%;
}

.highlight{
	font-size: 2em;
    font-family: 'Pacifico', sans-serif;
    padding: 25px 0 20px 0;
    color: #435C2A;
	line-height: 1.5em;
}

.highlight.second{
	padding-top: 100px;
}

.icons{
	margin-left: 30px;
	display: inline-block;
}

.item{
	height: 100%;
}

.logo__bars-container{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.menu_background{
	background-color:#F3F4F1;
	width: 100%;
}

.menu_items_container{
	padding-top: 30px;
}
	

.logo__text{
		padding: 25px 5px;
		justify-content: flex-start;
	    font-weight: bold;
}

.seedlings{
	display: flex;
	flex-direction: row;
	padding: 30px 5px 20px 0;
}

.specials{
	align-items: center;
	padding-top: 30px;
}

.subheader{
	font-size: 1.5em;
	font-family: 'Pacifico', sans-serif;
	color: #435C2A;
    line-height: 1.5em;
	padding: 20px 0 0 0;
	width: 100%;
}


	.testimonials {
		display: flex;
		flex-direction: column;
		align-items: center;

}

.padthai_image{
	display: flex;
	justify-content: center;
}


.padthai{
	border-radius: 50%;
	overflow: hidden;
	width: 50%;
}

#hourslocation{
	padding-bottom: 30px;
}

#threeButton{
	background-color: #59941D;
}

.quote{
	display: inline-block;
}
